<div class="col">
  <div class="card">
    <img
      class="card-img-top"
      src="./../../../assets/img/about-bg.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Movie title</h5>
      <div class="card-body">
        <div class="ratings">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
