<section class="full-screen">
  <main class="form-signin w-100 m-auto">
    <form (submit)="handleLogin($event)">
      <h1 class="display-3 text-center mb-2"><b>Movily</b></h1>
      <h2 class="h3 mb-3 fw-normal text-center">Please sign in</h2>

      <div class="form-floating">
        <input
          [(ngModel)]="username"
          type="text"
          name="username"
          class="form-control"
          id="floatingInput"
          placeholder="your user name"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button
        [disabled]="!username || !password"
        class="w-100 btn btn-lg btn-primary"
        type="submit"
      >
        Sign in
      </button>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
    </form>
  </main>
</section>
